@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

* {
  /*transform-origin: 0px 0px 0px;*/
  margin: 0;
  padding: 0;
}
html|* > svg {
  transform-origin: 50% 50% 0px;
}
i {
  font-style: italic;
}
html, body{
  margin: 0;
  padding: 0;
}
svg:not(:root){
  overflow: hidden;
}
ul{
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
li {
    line-height: 20px;
}
body {
  font-size: 14px;
  font-family: "Microsoft YaHei";
  padding-top: 100px;
  background:  #f3f3f3
}
a {
    color: #0088cc;
    text-decoration: none;
}
label, input, div[contenteditable="true"], button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}

input, div[contenteditable="true"], button, select, textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input, textarea, div[contenteditable="true"], .uneditable-input {
    width: 206px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], div[contenteditable="true"], .uneditable-input {
    box-sizing: border-box;
    display: inline-block;
    height: 34px;
    padding: 6px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    border-radius: 4px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], div[contenteditable="true"], .uneditable-input {
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

button, input, select, div[contenteditable="true"], textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}

label, input, div[contenteditable="true"], button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
input, div[contenteditable="true"], button, select, textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], div[contenteditable="true"], .uneditable-input {
    box-sizing: border-box;
    display: inline-block;
    height: 34px;
    padding: 6px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    border-radius: 4px;
}

select, input[type="file"] {
    height: 34px;
    line-height: 34px;
}

select {
    width: 220px;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.ocean {
  height: 100%;
  background-color: #fff;
}

/* header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #000;
  box-sizing: border-box;
  padding: 0px 0px 0px 20px;
  color: #c7c7c7;
  font-size: 14px;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
span.logo {
  float: left;
  margin-top: 5px;
  font-size:30px;
  line-height:30px;
  text-decoration: none;
}
span.logo img {
  height:18px;
}

.header span {
  display: inline-block;
  color: #e0e0e0;
  margin-left: 10px;
  font-size: 16px;
}
#save {
  text-align:center;
  float: right;
  margin-left: 0;
  margin-right: 30px;
  height: 40px;
  line-height: 40px;
  background: #357;
  width: 60px;
  cursor: pointer;
}
#test {
  text-align:center;
  float: right;
  height: 40px;
  line-height: 40px;
  background: rgb(101, 20, 104);
  width: 60px;
  cursor: pointer;
}

/* main-container */
.main-container {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

/* palette */
.palette {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background: #f3f3f3;
  width: 180px;
  text-align: center;
  user-select: none;
  border: 1px solid #bbb;
  box-sizing: border-box;
  transition: width 0.2s ease-in-out;
}
/* palette-header  */
.palette-search {
  position: relative;
  overflow: hidden;
  background: #fff;
  text-align: center;
  height: 35px;
  padding: 3px;
  border-bottom: 1px solid #bbb;
  box-sizing: border-box;
}
.red-ui-searchBox-container {
  position: relative;
}
.red-ui-searchBox-container i {
  font-size: 10px;
  color: #666;
}
.red-ui-searchBox-container i.fa-search {
  position: absolute;
  pointer-events: none;
  left: 8px;
  top: 9px;
}

.red-ui-searchBox-container input {
  border-radius: 0;
  border: none;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 3px 17px 3px 22px;
  margin: 0px;
  height: 30px;
  box-sizing: border-box;
  outline: none;
}

.red-ui-searchBox-container a {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  display: none;
}

.red-ui-searchBox-container i.fa-times {
  position: absolute;
  right: 5px;
  top: 9px;
}


/* palette-container */
.palette-container {
  /* position: absolute; */
  top: 35px;
  right: 0;
  bottom: 25px;
  left: 0px;
  padding: 0px;
  overflow-y: auto;
  
  box-sizing: border-box;
}

.palette-category {
  border-bottom: 1px solid #ccc;
}
.palette-container-header {
 position: relative;
 background: #f3f3f3;
 cursor: pointer;
 text-align: left;
 padding: 9px;
 font-weight: bold;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}
.palette-container-header span {
  clear: both;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.palette-container-header>i {
  margin: 3px 3px 3px 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transform: rotate(0deg);
}
.fa-angle-down:before {
  content: ">";
}
 .palette-container-header i.expanded {
    -webkit-transform: rotate(90deg);
}
 
.palette-container-content {
  background: #fff;
  padding: 3px;
}

.palette_node {
  display: block;
  cursor: move;
  background: #ddd;
  margin:10px auto;
  border-radius: 5px;
  border:1px solid #999;
  background-position: 5% 50%;
  background-repeat: no-repeat;
  width: 120px;
  background-size: contain;
  position: relative;
  height: 28px;
}
.palette_node:hover{
  border-color:#ff7f0e;
}
.palette_node:hover .palette_port{
  border-color:#999;
  background: #eee;
}
.palette_node:hover .palette_label{
 color: #fff;
}
.palette_node:hover .palette_icon_container{
  color: #fff;
 }

.palette_label {
  font-size: 13px;
  position: absolute;
  top: 50%;
  left:30px;
  transform: translateY(-50%);
  width: 90px;
  display: block;
  /* margin: 4px 0 4px 32px; */
  /* line-height: 20px; */
  overflow: hidden;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: #f6f6f6;
}
.palette_icon_container {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30px;
  border-right: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.05);
  font-size: 18px;
  color: #f3f3f3;
}

.palette_icon {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.palette_port {
  position: absolute;
  top: 8px;
  left: -5px;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 3px;
  width: 10px;
  height: 10px;
  border: 1px solid #999;
}
.palette_port_input{

}
.palette_port_output {
  left: auto;
  right: -6px;
}

/* palette-footer */

.palette-footer{
  border-top: 1px solid #bbb;
  background: #f3f3f3;
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
  line-height: 23px;
  padding: 0 10px;
}
.palette-button{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  display: inline-block;
  color: #888 !important;
  background: #fff;
  border: 1px solid #ccc;
  text-align: center;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 11px;
  line-height: 17px;
  width: 18px;
  height: 18px;
}

/* workspace */
.workspace {
  position: absolute;
  margin:0;
  top: 0;
  left: 179px;
  bottom: 0px;
  right: 322px;
  overflow: hidden;
  border: 1px solid #bbb;
  box-sizing: border-box;
  transition: left 0.2s ease-in-out;
}
.workspace-header {
  position: relative;
  background: #fff;
  overflow: hidden;
  height: 35px;
  box-sizing: border-box;
  padding-right: 59px;
  padding-left: 21px;
  border-bottom: 1px solid #bbb;
}
.chart {
  overflow: auto;
  background: #e3e3e3;
  position: absolute;
  bottom: 25px;
  top: 35px;
  left: 0;
  right: 0;
  box-sizing: border-box;
  transition: right 0.2s ease;
  outline: none;
}
.innerCanvas{
  width: 5000px;
  height: 5000px;
  -webkit-background-size: auto;
  background: #fff;
  position: relative;
}
.newModle {
  position: absolute;
  cursor:move;
  background:#ddd;
  border-radius: 5px;
  border: 1px solid #999;
  background-position: 5% 50%;
  background-repeat: no-repeat;
  width: 120px;
  height: 30px;
  background-size: contain;
}
.newModle-selected {
  border:1.5px solid #ff7f0e;
}
.newModle-selected .palette_label {
  color: #fff;
}
/*.newModle:hover{
  border:1.5px solid #ff7f0e;
}*/
.newModle .palette_port:hover{
  border-color:#ff7f0e;
  background: #ff7f0e;
  cursor: crosshair;
}
.newModle .palette_port {
  top: 10px;
}

.newModle_label {
  font-size: 13px;
  text-align: center;
  margin: 4px 0 4px 32px;
  line-height: 20px;
  text-overflow: hidden;
  color: #f6f6f6;
}
.newModle_icon_container {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left:0;
  width: 30px;
  border-right: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.05);
}
.newModle_icon {
}
.newModle_port {
  position: absolute;
  top: 8px;
  left: -5px;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 3px;
  width: 10px;
  height: 10px;
  border: 1px solid #999;
}

.newModle_port_output {
    left: auto;
    right: -6px;
}
.newModle_port_input {
}


.workspace-toolbar {
  color: #888;
  display: none;
  font-size: 12px;
  line-height: 18px;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  padding: 7px;
  height: 40px;
  box-sizing: border-box;
  background: #fff;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  transition: right 0.2s ease;
  overflow: hidden;
}
.workspace-footer {
  border-top: 1px solid #bbb;
  background: #f3f3f3;
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
  line-height: 23px;
  padding: 0 10px;
}

.editor-stack {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0px;
  right: 323px;
  width: 0;
  z-index: 5;
}
.editor-tray {
  position: absolute;
  margin: 0;
  top: 0;
  width: auto;
  bottom: 0;
  background: #fff;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #bbb;
  box-sizing: content-box;
}
.editor-tray-header {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  box-sizing: border-box;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  background: #f3f3f3;
}

.editor-tray-titlebar {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.editor-tray-breadcrumbs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.editor-tray-breadcrumbs li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.editor-tray-toolbar {
    text-align: right;
    padding: 6px;
}

.ui-widget {
    font-size: 14px !important;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

.ui-corner-all {
    border-radius: 1px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #f3f3f3;
}

.editor-tray-toolbar button {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    display: inline-block;
    color: #888 !important;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 14px;
    margin-right: 8px;
    color: #999 !important;
    background: #fff;
}

.editor-tray-toolbar button:not(.leftButton):not(:last-child) {
    margin-right: 16px;
}
.editor-tray-toolbar button:hover, .editor-tray-toolbar button:focus {
    text-decoration: none;
}
.editor-tray-toolbar button.primary {
    border-color: #AD1625;
    color: #eee !important;
    background: #AD1625;
} 

.editor-tray-toolbar button:not(.disabled):not(:disabled):hover {
    color: #666 !important;
    background: #ddd;
}
.editor-tray-toolbar button.primary:not(.disabled):not(.ui-button-disabled):hover {
    border-color: #6E0A1E;
    background: #6E0A1E;
    color: #eee !important;
}


.editor-tray-toolbar button.leftButton {
    float: left;
    margin-top: 1px;
}
.editor-tray-body-wrapper {
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}


.editor-tray-body {
    position: relative;
    box-sizing: border-box;
    padding: 0.1px;
}
.red-ui-stack {
    background: white;
}

.red-ui-stack .palette-category {
    background: white;
}

.red-ui-stack .palette-category:last-child {
    border-bottom: none;
}

.editor-tray-footer {
    border-top: 1px solid #bbb;
    background: #f3f3f3;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    line-height: 23px;
    padding: 0 10px;
    height: 35px;
}
.editor-tray-resize-handle {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 7px;
    left: -9px;
    background: #f3f3f3 url(../images/grip.png) no-repeat 50% 50%;
    cursor: col-resize;
    border-left: 1px solid #bbb;
    box-shadow: -1px 0 6px rgba(0,0,0,0.1);
}

/*#palette-shade, #editor-shade, #header-shade, #sidebar-shade{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(160,160,160,0.5);
  z-index: 5;
  display: block;
}*/
.shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(160,160,160,0.5);
  z-index: 5;
}
#sidebar-shade {
  left: -8px;
  top: -1px;
  bottom: -1px;
}

/* sidebar */
.sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 315px;
  background: #fff;
  box-sizing: border-box;
  z-index: 10;
  border: 1px solid #bbb;
}
.red-ui-tabs {
  position: relative;
  background: #fff;
  overflow: hidden;
  height: 35px;
  box-sizing: border-box;
}
.red-ui-tabs ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    height: 35px;
    box-sizing: border-box;
    border-bottom: 1px solid #bbb;
    white-space: nowrap;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.red-ui-tabs ul li {
    box-sizing: border-box;
    display: inline-block;
    border-left: 1px solid #bbb;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    background: #f0f0f0;
    margin: 3px 3px 0 3px;
    height: 32px;
    line-height: 29px;
    max-width: 200px;
    width: 14%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.red-ui-tabs ul li.active {
    background: #fff;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    z-index: 2;
}
.red-ui-tabs ul li a.red-ui-tab-label {
    display: block;
    font-size: 14px;
    padding-left: 12px;
    width: 100%;
    height: 100%;
    color: #666;
}
red-ui-tabs ul li.active a {
    color: #333;
}

.red-ui-tabs ul li a:hover {
    text-decoration: none;
}
.red-ui-tabs ul li:not(.active) a:hover {
    color: #666;
    background: #ddd;
}
.sidebar-header {
  color: #666;
  text-align: right;
  padding: 8px 10px;
  background: #f3f3f3;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

.debug-content {
  position: absolute;
  top: 43px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
}

.sidebar-node-info-stack {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

.sidebar-content {
  position: absolute;
  top: 35px;
  right: 0;
  bottom: 25px;
  left: 0px;
  overflow-y: auto;
}

.sidebar-footer {
  border-top: 1px solid #bbb;
  background: #f3f3f3;
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
  line-height: 23px;
  padding: 0 10px
}
#sidebar-separator {
  position: absolute;
  top: 5px;
  right: 315px;
  bottom: 10px;
  width: 7px;
  z-index: 11;
  background: #f3f3f3 url(../images/grip.png) no-repeat 50% 50%;
  cursor: col-resize;
}

/* 
    child model
 */
.node {
  stroke: #999;
  cursor: move;
  stroke-width: 1;
}
.node_selected {
  stroke-width: 2;
  stroke: #ff7f03 !important;
}
.node_error {
  stroke: #f00;
  stroke-width:2;
  fill: #ff7f0e;
}
.port {
  stroke: #999;
  stroke-width:1;
  fill: #ddd;
  cursor: crosshair;
}

.node_status_label {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  stroke-width: none;
  fill: #888;
  font-size: 9pt;
  stroke: #000;
  text-anchor: start;

}
.hide {
  display: none;
}
.show {
  display: block;
}

.editor-tray-content {
    overflow: auto;
}

.dialog-form, #dialog-form, #node-config-dialog-edit-form {
    height: 100%;
}

.editor-tray-body .dialog-form, .editor-tray-body #dialog-form, .editor-tray-body #node-config-dialog-edit-form {
    margin: 20px;
    height: calc(100% - 40px);
}

.form-row {
    clear: both;
    color: #444;
    margin-bottom: 12px;
}


.form-row label {
    display: inline-block;
    width: 110px;
}

.form-search input, .form-inline input, .form-horizontal input, .form-search div[contenteditable="true"], .form-inline div[contenteditable="true"], .form-horizontal div[contenteditable="true"], .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-row input, .form-row div[contenteditable="true"] {
    width: 67%;
}

.red-ui-editableList-border {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.red-ui-editableList-container {
    padding: 5px;
    margin: 0;
    vertical-align: middle;
    box-sizing: border-box;
}
.red-ui-editableList-container .red-ui-editableList-list {
    list-style-type: none;
    margin: 0;
}

.red-ui-editableList-container li {
    box-sizing: border-box;
    position: relative;
    background: #fff;
    margin: 0;
    padding: 8px 0px;
    border-bottom: 1px solid #ddd;
    min-height: 20px;
}

.editor-button {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    display: inline-block;
    color: #888 !important;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    height: 34px;
    line-height: 32px;
    font-size: 13px;
    border-radius: 2px;
    padding: 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.editor-button-small {
    height: 20px;
    min-width: 20px;
    line-height: 18px;
    font-size: 10px;
    border-radius: 2px;
    padding: 0 5px;
}

.red-ui-editableList-container li .red-ui-editableList-item-remove {
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -9px;
}


.red-ui-editableList-container li.red-ui-editableList-item-sortable .red-ui-editableList-item-content {
    margin-left: 0px;
}

.red-ui-editableList-container li.red-ui-editableList-item-removable .red-ui-editableList-item-content {
    margin-right: 28px;
}
.editor-button:not(.disabled):not(:disabled):hover {
    color: #666 !important;
    background: #ddd;
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "x";
}

.form-search input, .form-inline input, .form-horizontal input, .form-search div[contenteditable="true"], .form-inline div[contenteditable="true"], .form-horizontal div[contenteditable="true"], .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}


.red-ui-typedInput-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 34px;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.red-ui-typedInput-container .red-ui-typedInput-input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    outline: red;
}
.red-ui-typedInput-container input {
    width: 100%;
    padding: 0 0 0 3px;
    margin: 0;
    height: 32px;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
    vertical-align: middle;
}

.red-ui-typedInput-container button {
    text-align: left;
    border: none;
    position: absolute;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0 1px 0 5px;
    display: inline-block;
    background: #efefef;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    color: #555;
}

.red-ui-typedInput-container button i {
    position: relative;
    top: -3px;
    margin-left: 1px;
    margin-right: 2px;
    margin-top: 1px;
    vertical-align: middle;
}

.fa-sort-down:before, .fa-sort-desc:before {
    content: "▼";
}
.red-ui-typedInput-container button:not(.disabled):hover {
    text-decoration: none;
    background: #ddd;
}

.red-ui-typed-select {
 appearance:none;
 -moz-appearance:none;
 -webkit-appearance:none;
  width: 47px; 
  padding: 0 0 0 10px;
  text-align: center; 
  border:none;
  border-right:1px solid #ccc; 
  border-top-right-radius:0;
  background-color: #efefef; 
}
.red-ui-typed-select option{
  background-color: #fff; 
}
.red-ui-typedInput-container button .red-ui-typed-select:hover {
    text-decoration: none;
    background-color: #ddd;
}

.red-ui-editableList-button-logic {
  line-height: 26px;
  display: inline-block;
  height: 26px;
  width: 26px;
  background: #efefef;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.red-ui-editableList-button-logic:hover{
  background: #ccc;
}

.node-text-editor {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  font-size: 14px !important;
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', Courier, monospace !important;
}

.ace_editor {
    position: relative;
    overflow: hidden;
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    direction: ltr;
    text-align: left;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ace-tomorrow {
    background-color: #FFFFFF;
    color: #4D4D4C;
}
.ace_gutter {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 41px;
  background:#f6f6f6;
}
.ace_editor_textarea {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 41px;
  bottom: 34px;
}
.ace_editor_textarea textarea{
  width: 100%;
  height: 100%;
  resize:none;  
  border: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  outline: none;
}
.ace_editor_text_output{
  position: absolute;
  left: 41px;
  bottom: 0px;
  right: 0px;
  height: 34px;
  background: #f6f6f6;
}
.ace_editor_text_output_return {
  display: inline-block;
  color: #8959A8;
}

.ace_editor_text_output_type {
  display: inline-block;
  margin-left: 15px;
}
.editor_fn_params .editor_fn_params_item {
  width: auto;
  border-radius: 4px;
  background: #f0f0f0;
  margin-left: 5px;
  padding: 0px 4px;
  display: inline-block;
}

.form-row-left {
  float: left;
  width: 50%
}
.form-row-right {
  float: left;
  width: 50%
}

.debug-newModle {
  width: 132px;
  height: 33px;
  border: 1.5px solid red;
  transform: transalte3d(0, -2px, 0);
  -webkit-transform: transalte3d(0, -2px, 0);
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.7);
}
.debug-newModle .palette_label{
  width: 102px;
  color: red;
}
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
table.node-info {
  font-size: 14px;
  margin: 0 0 10px;
  width: 100%;
}
table.node-info tr:not(.blank) {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
table.node-info tr:not(.blank) td:first-child {
  color: #444;
  vertical-align: top;
  width: 90px;
  padding: 3px 3px 3px 6px;
  background: #f9f9f9;
  border-right: 1px solid #ddd;
}
table.node-info tr:not(.blank) td:last-child {
  padding: 3px 3px 3px 6px;
  color: #666;
  overflow-y: hidden;
}
.debug-message-element {
  color: #333;
  font-family: Menlo, monospace;
  font-size: 13px !important;
  line-height: 1.3em;
}
.debug-message-row {
  display: block;
  padding: 4px 2px 2px;
  position: relative;
}
.debug-message-type-string {
  color: #b72828;
}

.red-ui-tabs ul li.active a {
  color: #333;
}

.endpointOpacity{
  opacity: .4;
}

.debug-help {
  font-size: 14px;
  line-height: 1.5em;
}
.debug-help-none {
  font-style: italic;
  color: #aaa;
}

.window-shade {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(160,160,160,0.5);
  z-index: 20;
  text-align: center;
}
.lds-radio {
  position: relative;
   top: 50%;
   transform: translateY(-50%);
}
._alert {
  position: absolute;
  width: 340px;
  height: 70px;
  background-color: #FFFFF0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform:translateX(-50%);
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.7);
  text-align: center;
  font-size: 18px;
  line-height: 70px;
  color: #555;
  color:#5cb85c;
  font-weight: bold;
  z-index: 100;
}