 body {
	background-color: #f1f1f1
} 
header {
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid gray;
}
.setting label{
width: 120px;
}

.content {
	margin-top:10px;
}

.tipList {
	padding-top: 100px;
}
.tipList li {
	padding: 0;
	border-radius: 4px;
	background-color: #ddd;
	margin-bottom: 10px;
	color:#0089ff;
}
.tipList li a{
margin: 0
}
.tipList li a:hover{
	background-color: #337ab7;
	color:#fff;
}


.content li {
	font-size: 18px;
	margin-top: 5px;
	list-style: none;
}
.content b{
	width: 220px;
	display: inline-block;
}
.content span{
	width: 220px;
	display: inline-block;
	text-align: center;
}
.row {
	margin: 10px 0;
	height: 26;
}
.row label {
	display: inline-block;
	width: 110px;
}
.row input {
	display: inline-block;
	width: 250px;
	height: 26px;
	border: none;
	border-radius: 3px;
	padding-left: 5px;
}
textarea {
	display: inline-block;
	width: 250px;
	border: none;
	border-radius: 3px;
	padding: 0 0 0 5px;
	min-width: 250px;
	max-width: 250px;
	min-height: 30px;
	height: 40px
}
main {
	margin: 30px auto;
	width: 400px;
}
button {
	width: auto;  
	padding:6px;  
	background-color: #428bca;  
	border-color: #357ebd;  
	color: #fff;  
	-moz-border-radius: 6px;  
	-webkit-border-radius: 6px;  
	border-radius: 6px; /* future proofing */  
	-khtml-border-radius: 6px; /* for old Konqueror browsers */  
	text-align: center;  
	vertical-align: middle;  
	border: 1px solid transparent;  
	font-weight: bold;
	cursor: pointer;
}
 button:hover{
 	background-color: #357; 
 }